@{
    ViewData["Title"] = "Home Page";
}

<!-- Show toastr notifications -->
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" /> 

    <script>
        toastr.options = {
            "closeButton": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "timeOut": "4000", // 4 ثواني ويختفي
            "showDuration": "300",
            "hideDuration": "1000",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        @if (TempData["success-notification"] != null)
        {
            <text>toastr.success('@TempData["success-notification"]');</text>
        }
        else if (TempData["error-notification"] != null)
        {
            <text>toastr.error('@TempData["error-notification"]');</text>
        }
    </script>
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">Learn about <a href="https://learn.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core</a>.</p>
</div>

